bin/win32/Debug/Ngine5dbg.lib
build/
public/lib/
public/bin/
public/bin/libfbxsdk.dll
public/bin/openvr_api.dll
public/bin/zlibwapi.dll
middleware/OculusSDK/LibOVR/Lib/
middleware/OculusSDK/LibOVR/Obj/
middleware/zlib-1.2.10/contrib/vstudio/vc14/zlibvc.v12.suo
middleware/zlib-1.2.10/contrib/vstudio/vc14/x86/
middleware/zlib-1.2.10/contrib/masmx86/
middleware/zlib-1.2.10/contrib/vstudio/vc14/zlibvc.opensdf
middleware/zlib-1.2.10/contrib/vstudio/vc14/zlibvc.sdf
middleware/zlib-1.2.10/contrib/vstudio/vc14/x64/ZlibDllDebug/Tmp/
project/Ngine5.sdf
project/Ngine5.vcxproj.filters
project/Ngine5.v12.suo
project/Ngine5.opensdf
project/Ngine5.VC.db
project/Ngine5.VC.opendb
._*
installs/fbx20151_fbxsdk_clang_macos.pkg
project/.vs/
