build/
project/Ngine5.sdf
project/Ngine5.vcxproj.filters
public/lib/
public/bin/libfbxsdk.dll
public/bin/openvr_api.dll
public/bin/zlibwapi.dll
middleware/OculusSDK/LibOVR/Lib/
middleware/OculusSDK/LibOVR/Obj/
middleware/openvr-0.9.11/.gitattributes
bin/win32/Debug/Ngine5dbg.lib
project/Ngine5.v12.suo
middleware/zlib-1.2.10/contrib/vstudio/vc14/zlibvc.v12.suo
middleware/zlib-1.2.10/contrib/vstudio/vc14/x86/
middleware/zlib-1.2.10/contrib/masmx86/
middleware/zlib-1.2.10/contrib/vstudio/vc14/zlibvc.opensdf
middleware/zlib-1.2.10/contrib/vstudio/vc14/zlibvc.sdf
project/Ngine5.opensdf
._*
project/Ngine5.VC.db
project/Ngine5.VC.opendb
